/* BUTTONS SOURCE CODE, remove if you like. */

#Center {
	display:flex;
	justify-content:center;
	height:fit-content;
	position:relative;
}

.Button-Link {
	min-width: 64px;
	height: 34px;
	margin:0 5px;
	margin-top:10px;
	text-decoration: none;
}

.GitTemplateButton {
	background:rgba(82, 2, 105);
	color:#fff;
	text-transform:uppercase;
	font-size: .725rem;
	font-weight: 600;
	letter-spacing: .0892857143em;
	border:none;
	min-width: 64px;
	height: 34px;
	padding: 0 16px 0 16px;
	overflow:hidden;
	border-radius:2px;
	box-shadow:0 0 10px rgb(82, 2, 105);
	transition:250ms ease all;
	cursor:pointer;
	display:flex;
	align-items:center;
	position:relative;
	opacity: 0;
}

.GitTemplateButton:hover {
	background-color:rgba(83, 0, 92, 1);
	box-shadow:0 0 10px rgba(174, 0, 194, 1);
	
}

.Home-Button {
	opacity:1;
	animation:fade 350ms ease forwards;
	animation-delay:.75s;
}

.Source-Button {
	opacity:1;
	animation:fade 350ms ease forwards;
	animation-delay:.95s;
}

.material-icons {
	font-size:20px;
	margin-right:4px;
}
/* END */
::-webkit-scrollbar {
    display:none;
}

html, body {
	background:#121212;
	color: white;
	height: 100%;
	width: 100%;
	margin: 0px;
	overflow-x: hidden;
	font-family: 'Roboto';
	font-size: 22px;
}

/*
Set body at least 100% height.
You can also use a combination of height: 100% in <html> and min-height: 100% in <body>.
*/
.Perfect-Layout {
	min-height: 100vh;
}

/*
Column distribution. (mobile first)
Flex value is 1 1 auto to make the body skrinkable and extensible.
*/
.Perfect-Layout,
.Perfect-Layout-Body {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}

/*
Content body item is made extensible too.
*/
.Perfect-Layout-Content {
	flex: 1 1 auto;
	background: #16001d;
}

/*
Put the first sidebar before content.
If you need sidebar to be before content only in big screen put those 3 next lines in @media block.
 */
.Perfect-Layout-Sidebar-1 {
	order: -1;
}

/*
For the bigger screens.
*/

@media (min-width: 768px) {
	/*
	 Body items are now side by side
	 */
	.Perfect-Layout-Body {
		flex-direction: row;
	}

	/*
	 Sidebars have a basic 260 width and are not really flexible anymore.
	 */
	.PL-Sidebar {
		flex: 0 0 260px;
	}
}
