@import url("https://use.typekit.net/uxr0xoa.css");
::-webkit-scrollbar {
    display:none;
}

body {
    margin:0;
    text-rendering:optimizeLegibility;
    overflow-x:hidden;
    background:#121212;
    backface-visibility: hidden;
}
